:root{
    --font-s-h1 : 1.5rem;
    --font-s-h2 : 1.25rem;
    --font-s-h3 : 1rem;
    --normal-font-size: .9375rem;
    --small-font-size: .8125rem;
    --smaller-font-size: .75rem;
}

body{
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

h1,.t1,
h2,.t2,
h3,.t3,
h4,.t4,
h5,.t5,
h6,.t6{
    line-height: var(--heading-line-height);
    font-family: var(--heading-font);
    font-weight: 600;
}

h1,.t1{font-size: var(--font-s-h1)}
h2,.t2{font-size: var(--font-s-h2);color: var(--dark-color);}
h3,.t3{font-size: var(--font-s-h3);color: var(--dark-color);}
h4,.t4{font-size: var(--normal-font-size);}
h5,.t5{font-size: var(--small-font-size);}
h6,.t6{font-size: var(--smaller-font-size);}

.biggets,
.bigger,
.big,
.normal,
.small,
.smaller{
    line-height: var(--body-line-height);
    font-family: var(--body-font);
    font-weight: 400;
}

.biggets{font-size: var(--font-s-h1);}
.bigger{font-size: var(--font-s-h2);}
.big{font-size: var(--font-s-h3);}
.normal{font-size: var(--normal-font-size);
color: var(--text-color);}
.small{font-size: var(--small-font-size);}
.smaller{font-size: var(--smaller-font-size);}

.text-right{text-align: right;}

@media screen and (min-width: 1024px){
    :root {
        --font-s-h1 : 2.25rem;
        --font-s-h2 : 1.75rem;
        --font-s-h3 : 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .8125rem;
    }
}