:root {
    
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --heading-line-height : 1.3;
    --body-line-height    : 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    font-family: var(--heading-font);
}

body,
.body-font {
    font-family: var(--body-font);
    line-height: var(--body-line-height);
    font-weight: 400;
}
    

