body{
    min-height: 100vh;/*por mientras: height:100vh;*/
    display: flex;
    flex-direction: column;
}

body>footer{
    margin-top: auto;
}

.je-container{
    display: flex;
    max-width: 1024px;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.je-item{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0;
}